registry=https://registry.npmjs.org/
@codeparticle:registry = https://codeparticle.jfrog.io/codeparticle/api/npm/npm

_auth = Y29kZXBhcnRpY2xlOkFQMlNlbnhjMnJqa0s2eTVEMnFORTVCNDlQNQ==
email = web-accounts@codeparticle.com
